@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.nav-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    background-color: #000000;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 2px solid #00D1FF;

    position: sticky;
    top:0;
}

.logo{
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
}

.nav-links{
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: #ccf6fa;
    font-weight: 750;
    font-size: 15px;
  transition: transform 0.5s ease, border-color 0.5s ease;

}

li{
    list-style: none;
}

a:hover{
    color: #00D1FF;
    /* transition: all 0.5s ease-out; */
    
}

.nav-btn{
    padding: 10px 20px;
    background-color: #00D1FF;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    
    /* transition: transform 0.57s ease, border-color 0.7s ease; */
}

.nav-btn:hover{
    background-color: #b9f5fe;
    transition: transform 0.5s ease, border-color 0.5s ease;

}


@media screen and (max-width: 820px) {
    .nav-links{
         position: fixed;
         bottom: 0px;
         right: 0;
         left: 30px;
         background-color: #000000;
         border: 1px solid #00D1FF;
            padding: 20px;
            width: fit-content;
            border-radius: 5px;
    }
    .nav-con{
        padding: 10px 20px;
    }
}